.coverImageStyle {
    bottom: 0px;
    height: 100%;
    top: 30px;
    width: 100%;
    z-index: -1;
}
.img-thumbnail {
    padding: .25rem;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .5rem;
    max-width: 80%;
    height: 150px;
    margin-top: -15%;
}

.editButton{
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 20px;
    margin-right:15px;
    padding: 6px 16px;
    float:right;
    position: relative;
    text-align: right;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #1da1f2;
    color: #1da1f2;
}

.profileTab{
    
}