*{
    float: left;  
    
}
.input {
    padding: 20px;
    float: center;
    clear: both;
  }
.password{
    color : #BFC9CA ;
    font-size: 14px;
}
.signup{
    margin-top: 80px; 
    padding: 40px;
    float: center;
    clear: both;
}
